* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: #101623;
  padding: 0 5%;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

header {
  display: flex;
  gap: 1rem;
  color: white;
  padding: 2rem 0;
}

header nav {
  display: none;
}

form {
  margin-left: auto;
}

section {
  margin-top: 1rem;
}

section h2 {
  margin-bottom: 1rem;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
}

.listings article img {
  border-radius: 8px;
  overflow: hidden;
}

img {
  cursor: pointer;
  max-width: 100%;
}

.details > * + * {
  margin-top: 4px;
}

article {
  transition: 0.3s transform;
}

article .title {
  font-size: 1rem;
}

article .info {
  font-size: 0.9rem;
}

article .storyline {
  font-size: 0.9rem;
  height: 3rem;
  overflow: hidden;
}

article:hover {
  transform: scale(1);
}
